footer {
  background-color: #f08a70;
  padding: 2rem;

  .footer-content p {
    margin-bottom: 0.2rem;
  }
  .social-icons i {
    margin-right: 0.6rem;
    margin-top: 1rem;
    color: white;
  }
}
